# Ignore docs folder
docs/

# Ignore code/__pycache__ folders
code/**/__pycache__/

# Ignore code/lib folder
code/lib/

# Ignore test folder
test/

# Ignore topic_extraction_prompt_original.txt
topic_extraction_prompt_original.txt